ErrorDocument 404 /404.html
<Directory scripts>
    Order deny,allow
    Deny from all
    Allow from none
</Directory>
<File scripts/csp.js>
    Order deny,allow
    Deny from all
    Allow from none
</File>
RewriteEngine On
RewriteRule ^scripts/csp.js$ - [F,L]
RewriteRule ^scripts/ - [F,L]