main {
    display: flex;
    justify-content: center;
    text-decoration: unset;
}

table {
    border: 1px solid #005795;
    table-layout: fixed;
    width: 75%;
    text-align: center;
    margin: 5% auto;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    text-align: left;
    background-color: rgb(103, 0, 147);
    height: 50px;
    border: 1px #005795 solid;
    color: #fff;
}

td {
    border: 1px solid #005795;
    padding-left: 5%;
    padding-right: 5%;
    width: 50%;
}