:root {
    --theme-bl: #235690;
    --theme-rd: #D90148;
    --theme-wh: white;
    --bl-txt: #0269B3;
}

/* because this page is special? */
.title {
    background-color: var(--theme-wh);
    display: flex;
    padding: 0 2%;

    align-items: center;
}

.title h1 {
    width: 90%;
    color: var(--theme-rd);
    margin: 0;
}

.title img {
    max-width: 10%;
    max-height: 10%;

    object-fit: contain;
    padding-right: 2%;
}


.container {
    display: flex;

    /* to align with title */
    padding: 2% 3% 3% 2%;

    color: black;
}

.text {
    width: 48%;
    padding: 0;
    text-align: justify;
}

.text p {
    margin: 0.5%;
}
