:root {
    --theme-bl: #235690;
    --theme-rd: #D90148;
    --theme-wh: white;
    --bl-txt: #0269B3;
}

.container {
    /* padding-top: 5%;
    margin-left: 1.5%; */
    padding: 2% 3%;
    display: flex;
    justify-content: space-evenly;
}

.img_label {
    font-style: italic;
}

.person img {
    width: 350px;
}

