:root {
    --theme-bl: #235690;
    --theme-rd: #D90148;
    --theme-wh: white;
    --bl-txt: #0269B3;
}

.container {
    display: flex;
    flex-direction: column;
}

.row1, .row2 {
    /* padding-top: 5%;
    margin-left: 1.5%; */
    padding: 2% 3%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img_label {
    font-style: italic;
    font-size: 16px;
    max-width: 350px;
    text-wrap: balance;
    margin: 10px 0;
    color: var(--bl-txt);
}

.img_label.role-title {
    font-weight: 600;
    margin: 0 0 15px 0;
    color: var(--theme-bl);
}

.person {
    margin-top: 3%;
    justify-self: center;
}

.person img {
    width: 350px;
}

@media screen and (max-width: 800px) {
    .container {
        padding-top: 15px;
        flex-direction: column;
        justify-content: unset;
    }
}