:root {
    --theme-bl: #235690;
    --theme-rd: #E02D68;
    --theme-wh: white;
    --bl-txt: #0269B3;
}

h2 {
    color: var(--theme-bl);
    font-style: italic;
}

.per-committee ul li {
    list-style-type: none;
    text-decoration: none;
    color: var(--bl-txt);
}

.all-committees {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.per-committee {
    width: 50%;
    padding: 1.5%;
    /* text-align: center; */
    text-align: left;
}

.per-committee ul {
    padding-inline-start: none;
    margin-block-start: none;
}

/* for smaller screens */
@media screen and (max-width: 800px){
    .per-committee {
        width:100%;
    }

    .all-committees{
        flex-direction: column;
        text-align: center;
        padding-top: 1%;
        padding-bottom: 1%;

    }

}