:root {
    --theme-bl: #235690;
    --theme-rd: #E02D68;
    --theme-wh: white;
    --bl-txt: #0269B3;
}

h2 {
    color: var(--theme-bl);
    font-style: italic;
}

.pc-txt ul li {
    list-style-type: none;
    text-decoration: none;
    color: var(--bl-txt);
}

.all-committees {
    display: flex;
    flex-direction: column;
    justify-content: center space-evenly;
    padding-left: 10px;
}

.per-committee {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pc-txt {
    width: 50%;
    padding: 1.5%;
    /* text-align: center; */
    text-align: left;
}

.pc-txt ul {
    padding-inline-start: none;
    margin-block-start: none;
    list-style-type: none;
    list-style-position: inside;
    list-style: none;
}

.pc-btn {
    width: 80px;
    background-color: var(--theme-bl);
    border-radius: 10px;
}

.pc-btn a {
    font-size: 17px;
    color: white;
    text-decoration: none;
}

/* for smaller screens */
@media screen and (max-width: 800px){
    .per-committee {
        width:100%;
    }

    .all-committees{
        flex-direction: column;
        justify-content: center;
        padding-top: 1%;
        padding-bottom: 1%;

    }

}