:root {
    --theme-bl: #235690;
    --theme-rd: #D90148;
    --theme-wh: white;
    --bl-txt: #0269B3;
}

.container {
    display: flex;
}

.text {
    /* to ensure the two text boxes are exactly 50% and fits side by side */
    width: 25%;
    margin: 2%;

    /* ensures text aligns with title  */
    padding-left: 3%;
}

.text h2 {
    color: var(--theme-bl);
    font-size: 35px;
    margin: 2% 2% 1% 2%;;
}

.text p, .text a {
    color:var(--bl-txt);
    /* margin-left: 2px; */
    padding: 1%;
}

.map {
    /* map takes up 70% of the page */
    width: 66%;
    margin: 2%;
}
