:root {
    --theme-bl: #235690;
    --theme-rd: #D90148;
    --theme-wh: white;
    --bl-txt: #0269B3;
}

.container {
    display: flex;
    justify-content: space-around;
}

.text {
    /* to ensure the two text boxes are exactly 50% and fits side by side */
    width: 25%;
    margin: 2%;
    align-self: center;
    /* ensures text aligns with title  */
    padding-left: 1.5%;
}

.text h2 {
    color: var(--theme-bl);
    /* font-size: 35px; */
    margin: 2% 2% 1% 2%;;
    margin-left: unset;
}

.text p, .text a {
    color:var(--bl-txt);
    /* margin-left: 2px; */
    padding: 1.5%;
}

.text a:hover {
    color: var(--hov-rd);
}

.image {
    /* image takes up 70% of the page */
    width: 46%;
    margin: 2%;
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .text {
        width: 90vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .image {
        width: 90vw;
        padding-bottom: 20px;
    }

}

@media screen and (max-width: 580px) {
    .text {
        flex-direction: column;
        justify-content: start;
    }
}