:root {
    --theme-bl: #235690;
    --theme-rd: #D90148;
    --theme-wh: white;
    --bl-txt: #0269B3;


    --mid-bl: #5B95D7;
    --light-bl: #cedff3;
    --dark-bl: #143152;

    --bg-red: #B20000;
    --light-rd: #FF0A5C;
    --hov-rd: #dc2525;
}

.container {
    display: flex;
    flex-wrap: wrap;

    margin: 2% 3% 3% 2%;

    justify-content: center;
    width: 96%
}

.content {
    display: flex;
    justify-content: row;
}

.text {
    width: 75%;
}

h2 {
    /* color: var(--theme-bl); */
    color: var(--theme-rd);
}

.container p, .container li {
    color: var(--dark-bl);
}

.about {
    margin: 1.5%;
}

.btns {
    width: 100%;
    height: 40px;
    margin: 0 1.5%;
}

.btns button {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--theme-bl);
    height: inherit;
    align-items: center;
    align-content: start;
    padding: 1% 2%;
    color: var(--theme-wh);
    border: none;
    font-size: 14px;
}

.page {
    display: "block";
    width: 96%;
    margin: 0 1.5% 1.5% 1.5%;

    /* to give a bit of indentation? */
    padding-left: 1%;

    border-top: 10px solid var(--theme-rd);
}

.container li{
    margin: 8px;
    list-style: none;
}

.container a {
    text-decoration: none;
    color: var(--theme-rd);
}

.container a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    
}

