:root {
    --theme-bl: #235690;
    --theme-rd: #D90148;
    --theme-wh: white;
    --bl-txt: #0269B3;


    --mid-bl: #5B95D7;
    --light-bl: #cedff3;
    --dark-bl: #143152;

    --bg-red: #B20000;
    --light-rd: #FF0A5C;
    --hov-rd: #dc2525;
}

.container {
    display: flex;
    flex-wrap: wrap;

    /* shorthand: top right bottom left */
    margin: 2% 3% 3% 2%;
    padding: 0 1.5% 0 1.5%;

    justify-content: left;
    width: auto;
}

h2.sub-heading {
    color: var(--bl-txt);
    border-left: 5px solid var(--theme-rd);
    font-size: 24px;
    padding: 6px 0px 6px 15px;
    margin: 25px 0 15px 0;
}

.section {
    width: 100%;
}

.thank-you-text {
    color: var(--dark-bl);
    text-align: justify;
    padding-left: 2.5%;
    line-height: normal;
    padding-top: 8px;
}

.name {
    font-weight: bold;
    font-style: italic;
}

.people {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.person {
    display: flex;
    width: 100%;
    margin: 5px;
    background: var(--theme-bl);
    padding: 20px 30px;
    border-radius: 5px;
    height: fit-content;

    max-height: 10%;
}

.photo {
    display: flex;
    height: calc(100% - 40px);
    /* width: calc(100% - 60px); */
    max-height: calc(100% - 40px);
    max-width: calc(100% - 60px);
    margin: auto 0;
    align-items: center;
}

.photo img {
    border-radius: 5px;
    max-height: 100%;
    min-width: 100%;
    object-fit: scale-down;
    height: auto;
    width: auto;
}

.text {
    height: fit-content;
    margin: auto 0;
    width: 80%;
    padding: 10px 0 10px 25px;
    background-color: var(--theme-bl);
    color: var(--light-bl);

    border-radius: 0px 5px 5px 0px;
}

.text .committee {
    margin-bottom: unset;
    /* font-style: italic; */
    font-weight: 400;
    font-size: 18px;
} 

.text .name {
    font-size: 40px;
    margin-bottom: 0;
    letter-spacing: 0.05em;
}

.text .expertise {
    font-weight: thin;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 0;

    margin-bottom: 15px;
}

.text .description {
    font-weight: 400;
    line-height: 1.5em;
}

.text .description a {
    color: var(--light-bl);
    text-decoration: none;
    font-style: italic;
}

.text .description a:hover {
    color: var(--theme-wh);
}

/* the phone version  */
@media screen and (max-width: 767px) {

    .container {
        width: 95%;
        margin: 3% 2%;
        padding: unset;
    }

    .thank-you-text {
        padding: 2.5%;
        width: calc(100% - 5%);
    }

    .people {
        margin: 10px;
    }

    .person {
        height: fit-content;
        width: 100%;
        padding: 10px;
        flex-direction: column;
    }

    .person .name {
        font-size: 35px;
    }

    .person .text {
        width: fit-content;
        padding: 5px;
    }

    .photo {
        margin-bottom: 15px;
        display: flex;

        /* width: calc(100% - 20px); */
        max-width: calc(100% - 20px);
        height: 10%;
        max-height: 50%;

        border-radius: 5px 5px 0px 0px;
        justify-content: center;
    }

    .photo img {
        height: fit-content;
        width: fit-content;
        max-height: 100%;
        max-width: 100%;
    }
}