:root {
    --theme-bl: #235690;
    --theme-rd: #D90148;
    --theme-wh: white;
    --bl-txt: #0269B3;
}

/* Top announcement banner */
/* COMMENTED OUT because it now all falls under title, in case.css  */

/* .title {
    width: 100%;
    display: block;
    display: flex;
    flex-direction: row;
    padding: 3%;

    background-color: var(--theme-bl);
} */

/* .main {
    background-color: var(--theme-bl);
    display: block;
} */

/* h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 55px;
    color: white;
    padding-left: 7%;
    padding-bottom:1%;
    width: 100%;
    margin: 3%
} */

h3 {
    width: 90%;
    font-size: 30px;
    /* align-self: end; */
    text-align: end;
    justify-self: end;
    color: #5cd6ff;
    margin: 1%;
}

/* Mobile support */

@media screen and (max-width: 800px) {
    .welcome {
        display: block;
        flex-direction: unset;
        padding: 1.5%;
        width: fit-content;
    }

    h1 {
        width: unset;
        padding: 5%;
        padding-left: 2%;
        padding-bottom: none;
        font-size: 50px;
    }    

    h3 {
        width: 80%;
        padding: 5%;
        padding-right: unset;
        margin: 1px;
        font-size: 25px;
    }

    .title {
        width: fit-content;
    }

    .f_contact {
        margin-right: none;
        padding-right: none;
    }

    ul.f_contact {
        margin: unset;
        padding: unset;
    }
}

/* SG welcome/announcement letter */

.message p {
    color: var(--bl-txt);
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

.message {
    width: 60%;
    display: block;
    justify-content: center;
}

.container {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}

/* Mobile support */

@media screen and (max-width: 800px) {
    .message {
        width: 90%;
    }

    .message p {
        font-size: 15px;
        font-weight: 600;
    }
}
