html {
    max-width: 100%;
    overflow-x: hidden;
}

.title {
    width: 100%;
    display: block;
    padding: 30px;
    background-color: var(--theme-bl);
    justify-content: start;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    color: white;
    padding-bottom:1%;
    width: 90%;
    margin: 2%;
}

.menu .current, .normal {
    display: none;
}

.menu .icon {
    float: right;
    display: block;
    font-size: 45px;
    padding-top: 5px;
    padding-right: 10px;
    color: black;
}

.toggle.responsive {
    position: absolute;
    right: 0;
    width: 100%;
    background-color: #8A002D;
    opacity: 0.95;
    float: none;
    display: block;
    text-align: left;
}

.toggle.responsive a {
    display: block;
    color: white;
    background-color: #8A002D;
    padding: 4px;
}

footer {
    display: block;
    font-size: 14px;
}

.ftr {
    margin-right: 5px;
    margin-left: 5px;
}

.ft ul {
    width: 110px;
    padding-left: 10px;
}

.ftr ul {
    margin-right: 5px;
    width: auto;
    padding-right: 5px;
}

.ftr, .ft {
    padding: unset;
    width: auto;
    margin-top: 20px;
}

.map_div {
    width: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.ft h4 {
    padding-left: 10px;
}