:root {
    --theme-bl: #235690;
    --theme-rd: #D90148;
    --theme-wh: white;
    --bl-txt: #0269B3;


    --mid-bl: #5B95D7;
    --light-bl: #cedff3;
    --dark-bl: #143152;

    --bg-red: #B20000;
    --light-rd: #FF0A5C;
    --hov-rd: #dc2525;
}

.container {
    display: flex;
    flex-wrap: wrap;

    margin: 2% 3% 3% 2%;

    justify-content: left;
    width: 96%
}

h2 {
    /* color: var(--theme-bl); */
    color: var(--theme-rd);
}

span li{
    list-style: none;
}

span li a {
    color: var(--theme-rd);
}