:root {
    --theme-bl: #235690;
    --theme-rd: #D90148;
    --theme-wh: white;
    --bl-txt: #0269B3;

    /* other possible colours */
    /* --theme-gr: #01895D; */
    /* --light-gr: #b3e3d4; */
    /* --theme-yw: #FAB800; */
    /* --theme-yw: #EBC700; */

    --mid-bl: #5B95D7;
    --light-bl: #cedff3;
    --dark-bl: #143152;
}

.container {
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    /* to align with title banner  */
    padding: 2% 3% 3% 2%;
}

.agenda {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container h2 {
    color: var(--theme-bl);
    /* text-decoration: underline; */
    border-left: 5px solid var(--theme-rd);

    /* margin order: top/bottom left-right */
    /* 1.5% just to align with the banner title */
    padding: 0 1.5%;
}

.container li, .container a {
    color: var(--dark-bl);
    line-height: 150%;
    font-size: 16px;
}


.sat, .sun {
    width: 48%;
    margin: 1%;
}

.schedule li {
    list-style-type: none;
}

.time {
    font-weight: bold;
}


@media screen and (max-width: 800px) {
    .container {
        flex-wrap: wrap;
    }

    .sat, .sun {
        width: 98%;
        margin: 1%;
    }
}