:root {
    --theme-bl: #235690;
    --theme-rd: #D90148;
    --theme-wh: white;
    --bl-txt: #0269B3;

    /* other possible colours */
    /* --theme-gr: #01895D; */
    /* --light-gr: #b3e3d4; */
    /* --theme-yw: #FAB800; */
    /* --theme-yw: #EBC700; */

    --mid-bl: #5B95D7;
    --light-bl: #cedff3;
    --dark-bl: #143152;

    --delegate: #0782DA;
    --stoff: #02A768;
}

/* OLD CODE */
.container {
    display: flex;
    flex-direction: row;
    /* < alignment with title > */
    padding-left: 2%;
}

.container h2 {
    font-size: 22px;
}

/* div of the left section */
.info {
    display: flex;
    flex-direction: column;
    width: 46%;
    margin: 1%;
    padding: 1%;
    /* border-left: 5px solid var(--theme-bl); */
    /* padding-left: 3%; */
}

.fees {
    h2 {
        color: var(--theme-bl);
        margin-bottom: 0;
    }

    li {
        list-style: none;
        line-height: 25px;
        font-weight: normal;
        color: black;
    }

    span {
        font-weight: bold;
        color: var(--delegate);
        padding: 0 10px 0;
    }
    
    .delegate {
        border-left: 5px solid var(--delegate);
    }
    
    .stoff {
        border-left: 5px solid var(--stoff);
        
    }
    
    .director {
        border-left: 5px solid var(--theme-rd);
    }

    .other {
        border-left: 5px solid black;
        margin-bottom: 10px
    }

    .fee-info {
        font-size: 14px;
    }
}

/* BANNER COLOURS HERE ------ */
.collapsible-heading {
    /* background-color: var(--bl-txt);
    color: var(--theme-wh); */

    /* background-color: var(--theme-gr); */
    background-color: var(--mid-bl);
    color: var(--theme-wh);

    /* background-color: var(--theme-wh); */
    /* color:var(--bl-txt); */

    padding: 2%;

    /* makes sure bottom of banner is connected to info-div */
    margin-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.collapsible-heading:hover {
    text-decoration: underline;
    cursor: default;
}

.collapsible-content {
    /* border: 2px solid var(--theme-rd); */
    /* border: 2px solid var(--theme-gr); */
    /* background-color: var(--light-gr); */
    background-color: var(--light-bl);

    /* initiall closed */
    display: none;
    padding: 0 3%;
    font-size: 18px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* < for animation > */
    height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;

    /* COLLAPSIBLE TEXT COLOUR ------- CHANG HERE ---------------  */
     p{
        color: var(var(--dark-bl));
        font-size: 16px;
        text-align: justify;
    }
}

/* < timeline  ------------------> */
.timeline {
    width: 46%;
    margin: 1%;
    padding: 1%;
    padding-left: 3%;
    border-left: 5px solid var(--theme-bl);
    h2 {
        color: var(--theme-bl);
    }

    table {
        border-collapse: separate;
        border-spacing: 0 5px;
    }
}

/* .timeline li {
    margin: 5px 0;
    color: var(--theme-rd);
    list-style: none;
}  */

.time {
    color: var(--bl-txt);
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;

    &.stoff {
        border-left: solid 5px var(--stoff);

    }

    &.delegate {
        /* color: var(--delegate); */
        border-left: solid 5px var(--delegate);
    }
    
    &.deadline {
        /* color: var(--theme-rd); */
        border-left: solid 5px var(--theme-rd);
    }
    
    &.other {
        border-left: solid 5px black;
    }
    
}

.mailings {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mailing_btn {
    width: 75px;
    background-color: var(--theme-rd);
    border-radius: 3px;
    padding: 5px;
    color: white;
    text-decoration: none;
    margin: 1px;
    text-align: center;
    font-size: 13px;
    cursor: not-allowed;
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column-reverse;
    }

    .timeline {
        width: 90vw;
        border-left: unset;
    }

    .info {
        width: 90vw;
        padding-bottom: 20px;
    }

    .mailings {
        display: flex;
        flex-wrap: wrap;
    }

    .mailing_btn {
        margin-top: 10px;
    }
}