:root {
    --theme-bl: #235690;
    --theme-rd: #D90148;
    --theme-wh: white;
    --bl-txt: #0269B3;

    --mid-bl: #5B95D7;
    --light-bl: #cedff3;
    --dark-bl: #143152;

    --rlo-mid-rd: #f6588d;
    --rlo-light-rd: #fcd9e4;
    --rlo-dark-rd: #370113;

    --delegate: #0782DA;
    --stoff: #02A768;
    --bg-rd: #B20000;
}

@counter-style dash {
    system: cyclic;
    symbols: "–";
    suffix: " ";
}

.container {
    display: flex;
    flex-direction: row;

    /* alignment with title */
    padding-left: 2%;
}

.container h2 {
    font-size: 22px;
    padding-bottom: 15px;
}

/* for the h2 titles that are not collapsible headings (aka doesn't have an id)*/
.container h2:not([id]) {
    color: var(--theme-bl);
}

/* div of the left section */
.left-div {
    display: flex;
    flex-direction: column;
    width: 46%;
    margin: 1%;
    padding: 1%;
}

/* FEES CLASS ----------------------- */
.fees h2 {
    margin-bottom: 0;
}

.fees table {
    border-collapse: separate;
    border-spacing: 0 3px;
}

.fees table, .fees tbody, .fees tr {
    width: 50%;
}

/* label of the conference fees */
.fees tr td:first-of-type {
    font-weight: bold;
    color: var(--bl-txt);
    padding: 5px 0 5px 10px;
}

.fees .delegate {
    border-left: 5px solid var(--delegate);
}

.fees .stoff {
    border-left: 5px solid var(--stoff);
}

.fees .director {
    border-left: 5px solid var(--theme-rd);
}

.fees .other {
    border-left: 5px solid black;
    margin-bottom: 10px
}

/* FEE INFO STYLING ---  */
.fees .layout {
    display: flex;

    @media screen and (max-width: 950px) {
        display: flex;
        flex-direction: column;
        table, ul {
            width: auto;
        }
        ul {
            margin-left: unset;
            padding-left: unset;
            margin-top: 5px;
            list-style: none;
        }
    }
}

.fees .layout ul {
    padding-left: 20px;
    margin-left: 20px;
    width: 50%;
    list-style: dash;
}

.fees li {
    line-height: 25px;
    font-weight: normal;
    color: black;
    font-size: 15px;

}

/* ALL COLLAPOSIBLE DESIGN HERE ----------------- */
.collapsible-heading {
    background-color: var(--mid-bl);
    color: var(--theme-wh);

    padding: 15px;
    margin-top: 15px;

    /* makes sure bottom of banner is connected to info-div */
    margin-bottom: 0;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.collapsible-heading:hover {
    text-decoration: underline;
}

.collapsible-content {
    background-color: var(--light-bl);
    font-size: 18px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    /* initiall closed */
    display: none;
    padding: 0 3%;

    /* < for animation > */
    height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
}

.collapsible-content p{
    color: var(--dark-bl);
    font-size: 16px;
    text-align: justify;
    padding: 10px 0; /* shorthand: top/bottom right/left */
}

.collapsible-content a {
    color: inherit;
    font-weight: inherit;
}

.collapsible-content a:hover {
    color: var(--theme-rd);
}

#for-rlo-students {
    color: var(--theme-rd);
}

/* RLO REGISTRATION CONTENT Colours --------------------- */

#rlo-heading {
    background-color: var(--rlo-mid-rd);
}

#rlo-registration-info {
    background-color: var(--rlo-light-rd);
}

#rlo-registration-info p {
    color: var(--rlo-dark-rd);
}

/* CANCELLATION INFO HERE ------------------ */

.cancelation-info {
    /* position: sticky; */
    /* bottom: 12px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-bl);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    
}

.cancelation-info i {
    padding-right: 10px;
    padding-left: 10px;
    color: var(--theme-rd);
    font-size: 30px;
}

.cancelation-info p {
    padding: unset;
    font-weight: bold;
}

.cancelation-info ul {
    padding: 10px;
}

.cancelation-info ul li {
    font-size: 92%;
    margin: 8px 0 0 15px;
    list-style: dash;
}

/* TIMELINE HERE --------------- */
.timeline {
    width: 46%;
    margin: 1%;
    padding: 1%;
    padding-left: 3%;
    border-left: 5px solid var(--theme-bl);
}

.timeline p {
    padding-bottom: 10px;
}

.timeline table {
    border-collapse: separate;
    border-spacing: 0 5px; /* left/right top/bottom */
}

.timeline table tbody tr td {
    padding: 5px 10px 5px 10px;
    line-height: 20px;
}

.time {
    color: var(--bl-txt);
    font-weight: bold;
    padding: 10px 0;
    align-content: center;
}

.time.stoff {
    border-left: solid 5px var(--stoff);
}

.time.delegate {
    border-left: solid 5px var(--delegate);
}

.time.deadline {
    border-left: solid 5px var(--theme-rd);
}

.time.other {
    border-left: solid 5px black;
}

/* MAILINGS -------------------  */

.mailings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px 0;
}

.mailing_btn {
    width: 75px;
    background-color: var(--theme-rd);
    border-radius: 3px;
    padding: 8px;
    color: white;
    text-decoration: none;
    margin: 1px;
    text-align: center;
    font-size: 13px;
}

.mailing_btn:hover {
    background-color: var(--bg-rd);
}

a.mailing_btn[href=""] {
    /* hiding the mailings if it has nothing linked to it*/
    display: none;
    cursor: not-allowed;
}

@media screen and (max-width: 767px) {
    .container {
        flex-direction: column-reverse;
    }

    .timeline {
        width: 90vw;
        border-left: unset;
    }

    .left-div {
        width: 90vw;
        padding-bottom: 20px;
    }

    .mailings {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0 20px 0;
    }

    .mailing_btn {
        margin-top: 10px;
    }
}