main {
    display: block;
}

.content {
    width: 90%;
    color: #0269B3;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 4%;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    color: white;
    padding-bottom: 10px;
    width: 80%;
}

.welcome_message {
    width: 85%;
    padding-left: 7.5%;
    padding-right: 7.5%;    
}