:root {
    --theme-bl: #235690;
    --theme-rd: #D90148;
    --theme-wh: white;
    --bl-txt: #0269B3;

    /* other possible colours */
    --theme-gr: #01895D;
    --light-gr: #b3e3d4;
    --theme-yw: #FAB800;
    --theme-yw: #EBC700;
}

.container {
    padding: 1% 4.5% 1% 4.5%;
}

.container p, .container p a {
    text-align: center;
    color: var(--bl-txt);
}

.quote {
    color: var(--theme-bl);
    font-size: 20px;
    font-style: italic;
    font-weight: 60px;
}

.alan {
    color: #008000;
}

.lenka {
    color: var(--the)
}

.fears ul {
    color: var(--bl-txt);
}