:root {
    --theme-bl: #235690;
    --theme-rd: #D90148;
    --theme-wh: white;
    --bl-txt: #0269B3;

    /* other possible colours */
    --theme-gr: #01895D;
    --light-gr: #b3e3d4;
    --theme-yw: #FAB800;
    --light-yw: #EBC700;
}

.container {
    padding: 1% 4.5% 1% 4.5%;
    display: flex;
}

.container p, .container p a {
    text-align: center;
    color: var(--bl-txt);
}

.container ul, .container ul p {
    color: var(--bl-txt);
    text-align: left;
}

.quote {
    font-size: 20px;
    font-style: italic;
    font-weight: 60px;
}

.list-title {
    text-decoration: underline;
}

.alan, .alan.goals ul li{
    color: #008000 !important;
}

.lenka, .lenka.goals ul li{
    color: #800080 !important; 
}

.insta-embeds {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.goals {
    display: flex;
}

.alan.goals, .lenka.goals {
    width: 50%;
}