:root {
    --theme-bl: #235690;
    --theme-rd: #D90148;
    --theme-wh: white;
    --bl-txt: #0269B3;

    --mid-bl: #5B95D7;
    --light-bl: #cedff3;
    --dark-bl: #143152;

    --light-rd: #FE206A;
    --link-rd: #B7013E;
}

.container {
    display: flex;
    flex-wrap: wrap;

    margin: 2% 3% 3% 2%;
    padding: 0 1.5% 0 1.5%;

    justify-content: left;
    width: 90%;
}

.container h2 {
    color: var(--theme-rd);
    margin-top: 20px;
}

.container h3 {
    color: var(--light-rd);
}

.container p a {
    color: var(--link-rd);
}

.content {
    display: flex;
    text-align: justify;
}

.emphasis {
    color: var(--light-rd);
    /* font-style: italic; */
}

/* travel info css------------- */
.go-to-rlo {
    width: 100%;
    display: block;
}

.go-to-rlo .content {
    display: flex;
}

.go-to-rlo .text {
    width: 48%;
}

.go-to-rlo .map{
    width: 50%;
    margin-bottom: 20px;
}

/* about leiden ------------- */
.leiden {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: column;
}

.leiden h2.sub-heading {
    color: var(--theme-bl);
    width: 100%;
}

.leiden .emphasis {
    color: var(--theme-bl);
}

.leiden .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.leiden .half {
    width: 48%;
}

.label .text {
    width: 100%;
}

.leiden img {
    width: 100%;
}

.leiden .image .label {
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-wrap: wrap;
    width: 100%;
}

.leiden .label .author {
    font-weight: normal;
    font-size: 12px;
}

/* mobile support --------- */
@media screen and (max-width: 800px) {
    .content {
        flex-direction: column;
    }

    /* about rlo section ------------- */

    .about-rlo .text {
        width: 100%;
    }

    .about-rlo #school_icon {
        display: none;
    }

    .about-rlo .image {
        width: 100;
    }

    /* travel advice section ------------- */

    .go-to-rlo .text {
        width: 100%;
    }
    
    .go-to-rlo .map {
        width: 100%;
    }

    /* about leiden section ----------- */
    .leiden .half {
        width: 100%;
    }

}